*{
    margin:0; padding:0;
    box-sizing: border-box;
    font-family: Verdana,Geneva,Tahoma,sans-serif;
    outline:none;border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 2s linear;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top:6rem ;
    overflow-x: hidden;
}
section{
    padding: 2rem 9%
}
div {
    margin-left: auto;
    margin-right: auto;
    width: 100px;
}
header{
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    background: white;
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0.5rem 1 rem rgba(0,0,0,.1);
}

header .logo{
    font-size: 3rem;
    color: black;
    font-weight: bolder;
}

header .logo span{
    color: var(--red);
}
 header .navbar a{
    font-size: 2rem;
    padding: 0 1.5rem;
    color: #666;
 }

 header .navbar a:hover{
    color:var(--red)
 }

 .home{
    display: flex;
    align-items:center;
    min-height: 100vh;
    background: url("newvar.jpeg") no-repeat;
    background-size: cover;
    background-position: center;
 }
 .wrapper{
    width: 420px;
    background: rgb(238, 240, 239) ;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(9px);
    color: black;
    font-weight: bold;
    border-radius: 12px;
    padding: 30px 40px;
    opacity: 0.9;

  }
  .wrapper .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    
    margin: 30px 0;
  }
  .input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
  }







 @media (max-width:991px){
    html{
        font-size: 55%;
    }
    header{
        padding:2rem;
    }
 }

 @media (max-width:768px){
    header .navbar{
        position:absolute;
        top: 0; left: 0; right: 0;
        background: #eee;
        border-top: .1rem solid rgba(0,0,0.1);
        clip-path: polygon(0 0,100% 0,0 0);
    }
    header .navbar a{
        margin: 1.5rem;
        padding: 1.5rem;
        background: #fff;
        border: .1rem solid rgba(0,0,0.1);
        display: block;
    }
 }
