* {box-sizing: border-box}

/* Add padding to containers */
.container {
  padding: 16px;
}
.header {
    position: relative;
    background-color:  #04AA6D;
    padding: 20px;
    height: 100px;
}

.header .title {
    font-size: 24px;
    color: white;
}

.header .header-image {
    position: absolute;
    top: 0;
    right: 0;
    width: 100px; /* Adjust size as needed */
    height: 100px; /* Maintain square aspect ratio */
    object-fit: cover; /* Keep image proportions */
}

/* Full-width input fields */
input[type=text]{
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}
input[type=date],input[type=email],input[type=password],input[type=tel], input[type=ssn]  {
    width: 30%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.registerbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity:1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}